.container{
}
.product-card{
    background-color: #dee2e6;
    width: 200px;
    border-radius: 5px;
    margin: 10px 10px 20px;
    padding-top: 10px;
}

.product-card .title{
    font-size: 125%;
}

.flex{

    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}