
/*
====================
FOOTER STYLE
====================
*/
.footer {
	background-color: var(--trypan-blue-2);
	height: 4rem;
  }
  
  .footer-container {
	display: -moz-grid;
	display: -ms-grid;
	display: -webkit-grid;
	display: grid;
	place-items: center;
	height: 100%;
	font-variant: small-caps;
	color: var(--text-color);
  }
  
  .brand-color {
	color: var(--flickr-pink);
  }
  
  .brand-secondary-color {
	color: var(--trypan-blue-2);
  }
  
  .footer-text {
	font-size: 1.03em !important;
  }
  
  /*
  ====================
  END FOOTER STYLE
  ====================
  */
